h1 Contenido Dinámico


   //- h2 ID usuario: #{datos.ID}
    //-h2 Producto: #{datos.titulo}

    //- vamos a poner un condicional

    


if datos 
    h2 ID usuario: #{datos.ID}
    h2 Producto: #{datos.titulo}    

else 
    h2 Datos no disponibles