extends layout
//- aqui usamos las plantillas de tipo pug. que es un codigo similar al html // extends Layaout es para insertar la plantilla Layout 
block content
  h1= title
  p Welcome to #{title}
  p
    a(href="http://google.com")  ENLACE

 


//- aqui vamos a probar poner un links 